body {
    font-family: 'Work Sans', sans-serif;
}


.container-login,
.container-customer,
.container-barang,
.container-home,
.container-masuk {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}


.container-login h3,
.container-home h3,
.container-barang h3,
.container-customer h3,
.container-masuk h3 {
    font-family: 'work sans';
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 5rem;
    padding-bottom: 1rem;
}


.login,
.container-regis {
    font-family: 'work sans';
    font-weight: 300;
    text-transform: uppercase;
}


.login .form-floating {
    padding-bottom: 1rem;
}


.nav-item {
    text-transform: uppercase;
    font-size: 300;
}


.navbar-brand {
    text-transform: uppercase;
    font-family: 'work sans';
    font-size: 300;
    font-size: 1.5rem;
}


.tabel-home {
    padding-top: 6rem;
    text-transform: uppercase;
}


.body-barang {
    background-color: #198754;
}

.body-customer {
    background-color: #0d6efd;
}

.body-masuk {
    background-color: #ffc107;
}

.body-keluar {
    background-color: #dc3545;
}


.btn-warning {
    color: white;
}


.container-regis {
    padding-bottom: 1rem;
    padding: 1rem;
}


.card tr {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'work sans';
}


.form-floating {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'work sans';
}